In [48]:
from pandas import read_csv
from statsmodels.tsa.stattools import adfuller

In [49]:
series = read_csv('reg_interval3.csv', header=0)

In [50]:
series.head()

,activeaddresses,difficulty90mom,fee_to_rewardUSD,hashrate3mom,median_transaction_feeUSD,mining_profitability,price30emaUSD,price3wmaUSD,price7wmaUSD,price90emaUSD,transactionvalueUSD,priceUSD
0,75756,3716190.0,0.867,6.431394e+12,0.0474,7220.0,61.215,91.616,88.156,39.444,2592.0,94.715
1,91875,3716190.0,1.338,3.737455e+12,0.0539,7990.0,64.217,100.288,93.861,40.945,4400.0,107.749
2,107142,3716190.0,1.596,5.716892e+12,0.0600,8852.0,67.816,111.703,101.342,42.682,4478.0,120.003
3,108890,3716190.0,1.948,-1.022966e+13,0.0618,8777.0,71.413,119.740,108.257,44.460,4249.0,123.562
4,100034,4025422.0,1.432,-1.003014e+13,0.0643,9950.0,75.106,125.520,115.097,46.311,4348.0,128.664

In [51]:
X=series.priceUSD.values

In [52]:
result = adfuller(X)

In [53]:
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])
print('Critical Values:')
for key, value in result[4].items():
	print('\t%s: %.3f' % (key, value))

ADF Statistic: -1.618806
p-value: 0.473355
Critical Values:
	1%: -3.433
	5%: -2.863
	10%: -2.567