In [1]:
from sklearn.svm import SVR
import pandas as pd
import numpy as np
from sklearn.preprocessing import Normalizer, StandardScaler, MinMaxScaler, RobustScaler
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from sklearn.ensemble import IsolationForest
from commons import mean_absolute_percentage_error
from joblib import dump, load

In [2]:
data=pd.read_csv('notebooks/datasets/reg_seven.csv',sep=',')

In [3]:
data.tail()

,difficulty30rsi,difficulty90var,fee_to_reward90rsiUSD,hashrate30var,median_transaction_fee7rocUSD,mining_profitability,price30smaUSD,price3wmaUSD,price7wmaUSD,sentinusd90emaUSD,size90trx,top100cap,transactionvalueUSD,priceUSD
2461,58.535,1.008768e+23,48.628,5.188934e+37,-51.183,0.137,7309.0,7271.0,7311.0,8952225768,-0.057,15.143,19540.0,7263.0
2462,58.535,1.001958e+23,48.386,5.055737e+37,-44.109,0.145,7302.0,7315.0,7323.0,8866101420,-0.057,15.156,16883.0,7361.0
2463,58.535,9.950605e+22,48.278,5.178554e+37,0.510,0.144,7298.0,7399.0,7356.0,8763231772,-0.058,15.163,14961.0,7469.0
2464,58.535,9.880747e+22,48.427,5.196839e+37,-48.673,0.152,7288.0,7411.0,7363.0,8730840664,-0.059,15.171,22475.0,7388.0
2465,58.535,9.810010e+22,48.495,4.726052e+37,-33.718,0.135,7286.0,7354.0,7350.0,8654833019,-0.060,15.162,17976.0,7293.0

In [4]:
data.shape

(2466, 14)

In [5]:
data.columns

Index(['difficulty30rsi', 'difficulty90var', 'fee_to_reward90rsiUSD',
       'hashrate30var', 'median_transaction_fee7rocUSD',
       'mining_profitability', 'price30smaUSD', 'price3wmaUSD', 'price7wmaUSD',
       'sentinusd90emaUSD', 'size90trx', 'top100cap', 'transactionvalueUSD',
       'priceUSD'],
      dtype='object')

In [6]:
length=data.shape[1]-1

In [7]:
X=data.iloc[:,:length]

In [8]:
y=data.iloc[:,length:]

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, shuffle=True, random_state=7)

In [10]:
y_train=np.ravel(y_train)

In [11]:
y_test=np.ravel(y_test)

In [12]:
estimators=[]

In [13]:
estimators.append(['standard', StandardScaler()])

In [14]:
scaling=Pipeline(estimators)

In [15]:
X_train=scaling.fit_transform(X_train)

In [16]:
X_test=scaling.transform(X_test)

In [28]:
svr=SVR(kernel='rbf',C=10000,verbose=True)

In [29]:
svr.fit(X_train,y_train)

[LibSVM]

SVR(C=10000, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=True)

In [30]:
svr.score(X_train,y_train)

0.9995155951691477

In [31]:
svr.score(X_test,y_test) #r^2

0.9985772643749331

In [32]:
y_pred=svr.predict(X_test)

In [33]:
pd.DataFrame(zip(y_test,y_pred),columns=['y_test','y_pred'])

        y_test        y_pred
0     6912.000   6922.510344
1     6233.000   6265.023442
2      235.065    235.892172
3      609.126    614.296264
4      453.641    461.248239
5      852.382    831.615338
6      342.284    338.982883
7      344.899    346.261751
8      644.487    623.170023
9     3804.000   3780.662482
10    6978.000   6928.935679
11      96.000    105.979167
12    2571.000   2585.098041
13    9249.000   9092.485315
14    8206.000   8335.943304
15     374.287    374.757581
16     568.912    574.744412
17    5677.000   5646.459856
18     350.835    352.211543
19    5882.000   6046.127834
20    5265.000   5241.028625
21     437.341    439.790245
22     642.185    668.554406
23    3415.000   3649.330763
24    8830.000   8818.361184
25     504.405    503.586672
26    8797.000   8770.680648
27     273.617    275.101279
28     225.576    218.392970
29     447.946    441.569384
..         ...           ...
464    139.740     80.938473
465    377.566    383.389801
466   1269.000   1278.240620
467   9161.000   9202.159644
468    481.482    478.842870
469   8894.000   7453.981355
470   3422.000   3399.716891
471    241.816    239.626028
472   9499.000   9692.038107
473    892.331    894.538943
474    383.251    373.092657
475    402.084    389.927291
476    264.053    285.844608
477   6592.000   6504.306313
478  12645.000  11723.494612
479    829.446    822.707474
480    106.555    108.872233
481    952.778    954.552562
482   8265.000   8221.380940
483    238.539    240.124829
484   8236.000   8176.849754
485    114.295    185.440796
486    877.685    855.607450
487    584.376    585.502961
488   8204.000   8295.130229
489   7383.000   7212.416684
490     66.000     65.582870
491    596.048    574.354686
492    121.008    121.638706
493    605.886    604.717449

[494 rows x 2 columns]

In [34]:
mean_absolute_error(y_test,y_pred) #mae

58.10107452336661

In [35]:
mean_squared_error(y_test,y_pred) #mse

20412.569449136645

In [36]:
np.sqrt(mean_squared_error(y_test,y_pred)) #rmse

142.87256366824474

In [37]:
mean_absolute_percentage_error(y_test,y_pred) #mape

2.999104948099392

In [38]:
dump(svr,'notebooks/trained_models/SVM_reg_seven_new.joblib')

['notebooks/trained_models/SVM_reg_seven_new.joblib']